@charset "UUTF-8";

 *{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
 }

 body, html{
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
   
 }

 main{
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    transition: width .2s, height .2s ;
    transition-timing-function: ease;

 }

section#login > div#imagem{
    display: block;
    background: white url(../imagens/pexels-785963761-31042046.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;

 }

 section#login >div#formulario{
    display: block;
    padding: 10px;
 }

 div#formulario > h1{
   text-align: center;
   margin-bottom: 10px;
 }

 div#formulario > p{
   margin-bottom: 10px;
   font-size: 0.9em;
 }

 div#formulario  div.campo{
   background-color: rgba(0, 0, 0, 0.432);
   height: 40px;
   width: 100%;
   margin: 5px 0px;
   border-radius: 5px;
   padding-left: 5px;
 }

 form > input[type=submit]{
   display: block;
   background-color: lightblue;
   font-size: 1em;
   font-weight: bold;
   width: 100%;
   height: 40px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 form > input[type=submit]:hover{
   background-color: rgb(146, 182, 194);
 }

 form > a{
   display: block;
   text-align: center;
   background-color:antiquewhite;
   height: 40px;
   width: 100%;
   border-radius: 5px;
   padding-top: 6px;
   margin-top: 5px; 
 }

 form > a:hover{
   background-color: rgb(173, 163, 149);
 }


